@font-face {
    font-family:"Futura";
    src: url("../font/FuturaPTCondExtraBold.otf");
    font-weight: 900;
}
@font-face {
    font-family:"Futura";
    src: url("../font/FuturaPTBold.otf");
    font-weight: 700;
}
@font-face {
    font-family:"Futura";
    src: url("../font/FuturaPTBook.otf");
    font-weight: 400;
}
@font-face {
    font-family:"Futura";
    src: url("../font/FuturaPTExtraBold.otf");
    font-weight: 800;
}
@font-face {
    font-family:"Futura";
    src: url("../font/FuturaPTHeavy.otf");
    font-weight: 600;
}
@font-face {
    font-family:"Futura";
    src: url("../font/FuturaPTLight.otf");
    font-weight: 300;
}
@font-face {
    font-family:"Futura";
    src: url("../font/FuturaPTMedium.otf");
    font-weight: 500;
}
@font-face {
    font-family:"Futura";
    src: url("../font/FuturaPTCondExtraBoldOblique.otf");
    font-weight: 900;
    font-style: oblique;
}

 * {
font-family: Futura;
}

.imagea {
    width: 400px;
    height: 450px;
    object-fit: cover;
    /* margin: -40px 0 0 0px; */
    position: absolute;
    right: 300px;
}
.navbar {
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 280px;
    font-size: 12px;
    font-family:'Courier New', Courier, monospace;
    color: grey;
}
.navsection {
    display: flex;
    flex-direction: row;
    padding: 30px 300px;
}
.nav-item {
    flex-direction: row;
    padding: 30px;
    letter-spacing: 3px;
}
.title-section {
    font-family:"Futura";
    font-weight: 300;
    font-style: oblique;
    color: #ae2605;
}
/* 
body {
    background-color: #333;
    font-family: 'Luckiest Guy', cursive;
    font-size: 40px;
  }
  
  path {
    fill: transparent;
  } */






